/** { border: 1px solid magenta; }*/

html, body {
    padding: 0;
    margin: 0;
    /*overflow: hidden;*/
    font-family: "Noto Sans CJK KR Regular", "Noto Sans", sans-serif;
    background-color: #1F2125;
    color: #F7F7F9;
}

.main-container {
    max-width: 480px;
    align-self: center;
    margin: auto;
}

.down table {
    width: 100%;
}

.down tr td:nth-child(2) {
    table-layout: fixed;
    width: 50%;
}

.down tr td:nth-child(n+3) {
    text-align: right;
    cursor: pointer;
    width: 4rem;
}
